
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Software Engineering</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Software Engineering</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li><a href="signin">Sign in / Sign up</a></li>
      <li  class="active"><a href="project1">Project 1</a></li>
      <li><a href="project2">Project 2</a></li>
      <li><a href="project3">Project 3</a></li>
    </ul>
  </div>
</nav>

<div class="jumbotron text-center">
  <h1>Tea Project</h1>
  
</div>
  
<div class="container">
<!-- Example row of columns -->

    <h2>Tea</h2>
    <img src="https://images.unsplash.com/photo-1517584640132-9379fc085be0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1953&q=80" style="width:200px" alt="Responsive image">
    <br>
    
    <p>Tea is a beverage made by steeping leaves of the tea plant, camellia sinesis, in water. You can have black tea, oolong tea, green tea, or white tea depending on how the leaves were processed. </p>


</body>
</html>











