
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Software Engineering</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Software Engineering</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="\">Home</a></li>
      <li><a href="signin">Sign in / Sign up</a></li>
      <li><a href="project1">Project 1</a></li>
      <li><a href="project2">Project 2</a></li>
      <li  class="active><a href="project3">Project 3</a></li>
    </ul>
  </div>
</nav>

<div class="jumbotron text-center">
  <h1>Projects Page</h1>
  <p>A List of Projects</p> 
</div>
  
<div class="container">
<!-- Example row of columns -->
<div class="row">
  <div class="col-md-4">
    <h2>Project 3</h2>
    <p>:D Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
    
  </div>

</div>

</body>
</html>











