
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Software Engineering</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Software Engineering</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li  class="active"><a href="signin">Sign in / Sign up</a></li>
      <li><a href="project1">Project 1</a></li>
      <li><a href="project2">Project 2</a></li>
      <li><a href="project3">Project 3</a></li>
    </ul>
  </div>
</nav>

<div class="jumbotron text-center">
  <h1>Create a new Account</h1> 
</div>
  


    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/">

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="signin.css" rel="stylesheet">
  </head>

  <div class="text-center">


 </div>
</div>
<form class="new_student" id="new_student" action="signup" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" />
  
  <div class="container">
  <div class="field">
    
    <label for="student_email">Email</label><br />
    <input autofocus="autofocus" autocomplete="email" type="email" value="" name="student[email]" id="student_email" />
  </div>

  <div class="field">
    <label for="student_password">Password</label>
    <em>(6 characters minimum)</em>
    <br />
    <input autocomplete="new-password" type="password" name="student[password]" id="student_password" />
  </div>

  <div class="field">
    <label for="student_password_confirmation">Password confirmation</label><br />
    <input autocomplete="new-password" type="password" name="student[password_confirmation]" id="student_password_confirmation" />
  </div>

  <div class="actions">
    <input type="submit" name="commit" value="Sign up" data-disable-with="Sign up" />
  </div>
  </div>
  

</div>

</body>
</html>











